.am-margin {margin:0 auto;}

.cart-table-th .th,.cart-table-th .td{float:left;}
.order-top,.cart-table-th .th{display: none;}
.item-list{position: relative;overflow: hidden;background:#F5F5F5 ;padding:10px 10px 10px 0; margin-top:10px ;}

.order-top{padding:10px 10px;}
/*红包信息*/
.td-from{width:70%;border-right:1px #d5d5d5 dotted ;}
.td-from .item-img{width:65px;float: left;}
.item-info{margin-top:15px;font-size:14px ;}
.info-little span{display:none}
.item-info .info-little{position: absolute;left:75% ;top:30px;text-align: center;} 
.td-remainderprice{position: absolute;left:75%;top:50px;font-size: 10px;}
.td-term{position: absolute;left:65px;bottom:20px ;font-size:10px;}

.td-usestatus{position:absolute;right:0px;top:0px;width:20%;}
.td-usestatus p{display:none;}
.td-usestatus img{width:100%;}
.am-tabs-d2 .am-tabs-nav li{text-align: center;}
@media only screen and (min-width:640px) 
{
.td-from{border-right:none;}	
/*布局更改*/
.cart-table-th .th,.cart-table-th .td{width:15%;text-align: center;}
.td.td-from,.th.th-from{border-right:none;width:55%;}	
.order-top,.cart-table-th .th,.td-usestatus {display:block;}
.item-term span,.td-remainderprice span,.td-usestatus span{display: none;}
.info-little span,.td-usestatus p{display:inline-block}


.item-info,.item-info .info-little{position: static;text-align: left;}
.td-remainderprice,.td-term,.td-usestatus {position: static;margin-top:15px ;font-size: 14px;}
.th.th-from{text-align: left;padding-left:65px;}


	}
	
@media only screen and (min-width:1025px) 
{
	

	}