APP_NAME="Monday Shop"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=zh_CN
APP_FALLBACK_LOCALE=en
APP_TIMEZONE=Asia/Hong_Kong

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

CACHE_STORE=file
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
DB_SEEDER_CLASS=Database\\Seeders\\DatabaseSeeder
FORCE_DB_SEED=false

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@monday-shop.local"
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DRIVER=public
JWT_SECRET=

APP_PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
