/node_modules
/public/hot
/public/storage
/resources/views/templates
/storage/*.key
/vendor
/.idea
/.vagrant
/resources/views/templates
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
